#loginbox
{
	position:absolute;
	background: white;
	margin:auto;
	padding:70px;
	padding-bottom: 105px;
	border-radius:4px;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	font-size: 22px;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.form-control:focus
{
	box-shadow:0 0 0 2px rgba(0, 110, 255, 0.363) !important;
}

a
{
	position:absolute;
	padding:20px 0px;
	font-size:20px;
	text-decoration: none;
	color: black;
}

a:hover{
	color: rgba(4, 0, 255, 0.644);
}

.alert alert-danger mt-4
{
	height:50px !important;
}