<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/forgotPassword.css">
    <title>Forgot Password</title>
</head>
<body>
    <div id="loginbox">
    <form class="row g-3">
        
        <div class="mb-3">
            <label for="forgotpassword" class="form-label">Enter the mail id to send a recovery mail</label>
            <input type="email" class="form-control" id="forgotpassword" name="forgotpassword" required>
        </div>

        <button type="submit" class="btn btn-primary" formaction="/">Send</button>

</form>

</div>
</body>
</html>