<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/home.css">
    <title>Home</title>
</head>
<body>

    <div id="dashboard">
        <h4>KCT PLACEMENT</h4>
        <ul>
            <li><a href="/register">Signup</a></li>
            <li><a href="/">Logout</a></li>
            
        </ul>
    </div>

    
<p class="text-justify">
    <div class="heading">This web page was built in full stack using these programming language :</div>

    <div class="heading">Frontend</div>
    <ul>
        <li class="list-group-item">HTML</li>
        <li class="list-group-item">CSS</li>
        <li class="list-group-item">JS</li>
    </ul>

    <div class="heading">Backend</div>
    <ul>
        <li class="list-group-item">NODE JS</li>
        <li class="list-group-item">MYSQL</li>
    </ul>
</p>
    
</body>
</html>