<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/loginpage.css">
    <title>KCT PLACEMENT</title>
</head>
<body>
    <div id="loginbox">
    <form class="row g-3" action="/info/loginpage" method="POST">
        
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

        <div >
            <a type="forgotpassword"  href="/forgotPassword">Forgot Password?</a>

            {{#if message1 }}
            <h5 class="alert alert-danger mt-4" >{{message1}}</h5>
            {{/if}}
        </div>
        
    </form>
</div>
</body>
</html>